:root {
    --var0-0: red;
}

:root {
    --var0: blue;
}

.one {
    & .nested {
        color: var(--var0);
    }
}

.two {
    & .one {
        & .nested {
            color: var(--var0-0);
        }
    }
}