:root {
    --var0-0: red;
    --var1-0: 2px;
}

:root {
    --var0: blue;
    --var1: 1px;
}

.one {
    background: solid var(--var1) var(--var0);
}

.two {
    & .one {
        background: solid var(--var1-0) var(--var0-0);
    }
}